<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Novo Cliente</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-2">
                  <h4>Defina Pessoa</h4>
                  <mat-form-field>
                    <mat-label>Juridica/Fisica</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let food of foods" [value]="food.value">
                        {{food.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Nome" name="clienteNome" type="text">
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Email" name="clienteEmail" type="text">
                        </mat-form-field>
                      </div>
                <!-- <div class="col-md-4">
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                  </mat-form-field>                  
                </div> -->
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="CPF" name="clienteCpf" type="text">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Rua" name="clienteRua" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Bairro" name="clienteBairro" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nº" name="clienteNúmero" type="text">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Cidade</mat-label>
                    <select matNativeControl required>
                      <option value="volvo">Florianópolis/SC</option>
                      <option value="saab">Joinville/SC</option>
                      <option value="mercedes">Palhoça/SC</option>
                      <option value="audi">São José/SC</option>
                    </select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">                 
                  <mat-form-field>
                    <mat-label>País</mat-label>
                    <select matNativeControl required>
                      <option value="volvo">Brasil</option>
                      <option value="saab">Marrocos</option>
                      <option value="mercedes">EUA</option>
                      <option value="audi">Canada</option>
                    </select>
                  </mat-form-field>                
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="CEP" name="clienteCEP" type="text">
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right">
                <i class="material-icons">send</i> SALVAR</button>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="backList()">
                <i class="material-icons">backspace</i> CANCELAR</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>