<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <button mat-raised-button color="warn" type="submit" (click)="newEquip()">Novo Equipamento
                <i class="material-icons">add_circle</i>
            </button>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Equipamentos</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Nome
                                    </th>
                                    <th>
                                        Número Serial
                                    </th>
                                    <th>
                                        Firmware Version
                                    </th>
                                    <th>
                                        Hardware Version
                                    </th>
                                    <th>
                                        Editar
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                        </td>
                                        <td>
                                        </td>   
                                        <td>                                            
                                        </td> 
                                        <td>                                            
                                        </td>                                    
                                        <td>
                                            <button mat-raised-button type="button" matTooltip="Editar "
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>