<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <button mat-raised-button color="warn" type="submit" (click)="novaCalibracao()">Nova Calibração
                <i class="material-icons">add_circle</i>
            </button>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Calibração</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Nome Equipamento
                                    </th>
                                    <th>
                                        Serial
                                    </th>
                                    <th>
                                        Hardware Version
                                    </th>
                                    <th>
                                        Firmware Version
                                    </th>
                                    <th>
                                        Data Calibração
                                    </th>
                                    <th>
                                        Valor
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let c of dataSource">
                                        <td>
                                            {{c.equipamento.nome}}
                                        </td>
                                        <td>
                                            {{c.equipamento.serial}}
                                        </td>
                                        <td>
                                            {{c.equipamento.hw_version}}
                                        </td>
                                        <td>
                                            {{c.equipamento.fw_version}}
                                        </td>   
                                        <td>
                                            {{c.dt_calibracao}}
                                        </td>  
                                        <td>
                                            {{c.valor}}
                                        </td> 
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>