<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 mx-auto mt-4">
        <div class="card card-login">
          <form class="form" method="" action="">
            <div class="card-header card-header-danger text-center">
              <h4 class="card-title">Login</h4>
            </div>
            <p class="description text-center">MyLab - Sistema de Gerenciamento</p>
            <div class="card-body">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">mail</i>
                  </span>
                </div>
                <input [(ngModel)]="login" name="login" type="email" class="form-control" placeholder="Login">
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">lock_outline</i>
                  </span>
                </div>
                <input [(ngModel)]="senha" name="senha" type="password" class="form-control" placeholder="Senha">
              </div>
            </div>
            <div class="footer text-center ml-4">
              <a class="btn btn-primary btn-link btn-wd btn-lg" (click)="mostrarMenu()">Entrar</a>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>