<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Nova Calibração</h4>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input [(ngModel)]="equipamento.nome" name="equipamentoNome" matInput placeholder="Nome Equipamento" type="text">
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input [(ngModel)]="equipamento.serial" name="equipamentoSerial" matInput placeholder="Serial" type="text">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input [(ngModel)]="equipamento.hw_version" name="equipamentoHw" matInput placeholder="Hardware Version" type="text">
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input [(ngModel)]="equipamento.fw_version" name="equipamentoFw" matInput placeholder="Firmware Version" type="text">
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input [(ngModel)]="equipamento.fw_version" name="equipamentoFw" matInput placeholder="Data Calibração" type="text">
                    </mat-form-field>
                  </div>
                </div>
                <div>
                  <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)=enviarEquipamento()>
                    <i class="material-icons">send</i> SALVAR</button>
                  <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="backList()">
                    <i class="material-icons">backspace</i> CANCELAR</button>
                  <div class="clearfix">
  
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>