<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <button mat-raised-button color="warn" type="submit" (click)="newAmostra()">Nova Amostra
                <i class="material-icons">add_circle</i>
            </button>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Amostras</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Codigo
                                    </th>
                                    <th>
                                        Cliente
                                    </th>
                                    <th>
                                        Data
                                    </th>
                                    <th>
                                        Endereço
                                    </th>
                                    <th>
                                        Observação
                                    </th>
                                    <th>
                                        Editar
                                    </th>
                                    <th>
                                        Visualizar
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let a of dataSource">
                                        <td>
                                            {{a.codigo}}
                                        </td>
                                        <td>
                                            {{formataCliente(a.cliente)}}
                                        </td>
                                        <td>
                                            {{a.dt_amostra}}
                                        </td>
                                        <td>
                                            {{formataEndereco(a.endereco)}}
                                        </td>
                                        <td>
                                            {{a.observacao}}
                                        </td>
                                        <td>
                                            <button mat-raised-button type="button" matTooltip="Editar "
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon"
                                                (click)="editAmostra(a)">
                                                <i class="material-icons">edit</i>
                                            </button>
                                        </td>
                                        <td>
                                            <button mat-raised-button type="button" matTooltip="Visualizar "
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon"
                                                (click)="visualizarAmostras()">
                                                <i class="material-icons">visibility</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>