<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Cadastrar Amostra</h4>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Cliente(Empresa) (disabled)" disabled>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Username">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="E-mail" type="email">
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Primeiro Nome" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="SobreNome" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="CPF" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Rua" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Bairro" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Nยบ" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Cidade" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Pais" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="CEP" type="text">
                                </mat-form-field>
                              </div>
                          </div>                         
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right">SALVAR</button>
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="backInitial()">CANCELAR</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
            </div>
      </div>
  </div>
</div>
