<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <button mat-raised-button color="warn" type="submit" (click)="newCliente()">Novo Cliente
                <i class="material-icons">add_circle</i>
            </button>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Clientes</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Codigo
                                    </th>
                                    <th>
                                        Nome
                                    </th>
                                    <th>
                                        Telefone
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Editar
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let c of dataSource">
                                        <td>
                                            {{c.codigo}}
                                        </td>
                                        <td>
                                            {{c.pessoa.nome}}
                                        </td>
                                        <td>
                                            {{c.pessoa.telefone}}
                                        </td>
                                        <td>
                                            {{c.pessoa.email}}
                                        </td>
                                        <td>
                                            <button mat-raised-button type="button" matTooltip="Editar "
                                            [matTooltipPosition]="'above'"
                                            class="btn btn-primary btn-link btn-sm btn-just-icon" (click)="editCliente(c)">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>